/* 
    Document   : animatorstyle
    Created on : 17-Sep-2012, 17:43:34
    Author     : jebby457
*/

.dynamic-img {
  height:90%;
  width:90%;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:-3px;
  margin-top:0px;
}

.control {
  margin-right:-6px;
}

/* Add some nice box-shadow-ness to the dialogues */
.ui-tooltip-dialogue{
	max-width: 420px;
	min-width: 210px;
  font-size: 15px;

	-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}

.ui-tooltip-dialogue .ui-tooltip-content{
	padding: 10px;
}

.ui-tooltip-dialogue button{
	float: left;
	width: 47%;
	margin-right: 10px;
	padding: 3px 0;

	text-align: center;
	font-size: 10.5px;
}

.ui-tooltip-dialogue button + button{
	float: right;
	margin-right: 0;
}

.ui-tooltip-dialogue input{
	width: 95%;
	padding: 3px 0 3px 5px;
	margin-bottom: 7px;

	font-size: 10.5px;
}

.ui-tooltip-dialogue button.full{
	float: none;
	width: 100%;
}

#menu-popup-popup {
  top: 0 !important; 
}

.ui-btn {
  margin: 0;
}

/* Solves scrollbar problem, but allows scrollbar when popup hits bottom of page */
.ui-popup-screen {
  border: 0;
}

#guess-mode .ui-controlgroup-controls {
  width:100%;
}

#guess-mode .ui-radio {
  width:50%;
}