/* 
    Document   : animatorstyle
    Created on : 17-Sep-2012, 17:43:34
    Author     : jebby457
*/

button { 
    position: relative;
    padding: 0;
    cursor: pointer;
    outline: none; /* for good measure */
    overflow: visible; /* removes extra side padding in IE */
}


